[2017-06-30 08:29] AlphaMTV opened #1 "code building problem"
Hi, Tim,

We try to compile the codes and find some problems with the Halide part.
We want to know what version of Halide used in the compilation of your codes,
so we can download the correct one.

Could you kindly provide the info?

Thank you

[2017-06-30 16:54] timothybrooks commented on #1
AlphaMTV,

Thanks for reaching out. I do not have the version number off hand, and have slightly limited access right now because I am on vacation. However, here is a build that I used during testing: https://cmu.app.box.com/s/z09bbnlc0adjrsh5w4eqng0vm5rxd07h. The source is included, so you could build directly from this, but you may prefer deducing the version number and downloading the source fr

[2017-06-30 16:54] #1 closed

[2017-10-08 08:29] muhammadhemdan opened #2 "Compile once and run more time"
Hi,
I need to run HDRPlus to process images in run time, so I need to compile it once not every time I give him new images. I knew two ways to do that:
1.    using compile_jit() once, then call realize() more time. But how can I do that in this project?
2.    using compile_to_file() but I don't know also how to do that with this project?

thanks,

[2017-12-29 06:51] lamerman opened #3 "Move to cmake to improve compilation time"
Hi,
currently when you change one file the compilation takes quite a lot, because of the way make file is written.
Have you considered moving to cmake?
I wrote a simple cmake file and here are results in terms of compilation speed when `HDRPlus.cpp` is changed:

current make
[code]

cmake (same compiler flags)

[code]

If it's fine for you I could provide a PR.

[2017-12-29 22:32] timothybrooks commented on #3
This would be a great improvement! Please feel free to make a PR.

[2017-12-30 07:21] lamerman commented on #3
Ok, I will make it in the middle of January. Currently quite far from my PC.

On Dec 30, 2017 01:32, "Tim Brooks" <notifications@github.com> wrote:

[2018-01-01 11:34] ghost opened #4 "A bit slow"
The algorythm is a bit slow

[2018-01-12 05:32] #3 closed

[2018-02-13 17:29] andree182 opened #6 "HDR+ dataset released"
You probably know, but if not - it may be of a great interest to you...

https://research.googleblog.com/2018/02/introducing-hdr-burst-photography.html

[2018-03-06 07:52] xianming90 opened #7 "compile the codes and find some problems with the Halide part"
Hi, Tim,

We try to compile the codes and find some problems with the Halide part.
We want to know what version of Halide used in the compilation of your codes,
so we can download the correct one.

Could you kindly provide the info?

Thank you

[2018-03-22 03:54] lisongnan1982 commented on #7
I tried several Halide versions and found version 2016/10/22 works.

[2018-03-23 23:17] oya163 commented on #7
Do we need to have specific gcc version. Can you please tell me which gcc version/halider version, you are currently using to run this program smoothly?

[2018-03-26 03:38] lisongnan1982 commented on #7
I used gcc 5.4.0 on Linux 16.04, and the downloaded halide is 2016/10/22
(halide-linux-64-gcc53-trunk-aa5d5514f179bf0ffe1a2dead0c0eb7300b4069a.tgz).
I have compiled the code but haven't run it yet. Hope the information is
helpful.

On Sat, Mar 24, 2018 at 7:17 AM, Oyesh Mann Singh <notifications@github.com>
wrote:

[2018-03-29 07:08] Trinkle23897 commented on #7
Just replace Halide::Image to Halide::Buffer and it's work!

[2018-04-15 16:31] jiangbaige commented on #7
Successfully compiled the code using the method of Trinkle23897，How to use this project to compile datasets provided by author on google research

[2018-04-15 16:33] jiangbaige commented on #6
How to use this project to compile datasets provided by author on google research @andree182

[2018-04-19 09:45] Trinkle23897 commented on #7
@jiangbaige This work takes me a couple of weeks……you need to replace rggb patterns to bggr patterns in demosaic part, and need to fix a bug when g1==0, also try to change white level and black level in the code to fit with google's dng arguments, and finally you'll find the code only works on the case which the height of image is less than the width, other wise it will output pink picture. I'm no

[2018-05-02 02:18] zhLawliet opened #8 "make error"
$ cmake ..
-- Selecting Windows SDK version 10.0.14393.0 to target Windows 10.0.16299.
-- Configuring done
-- Generating done
-- Build files have been written to: D:/00work/00HDR/hdr-plus/build

$ mingw32-make
mingw32-make: *** No targets specified and no makefile found.  Stop.

[2018-05-02 09:33] #8 closed

[2018-05-03 07:53] jiangbaige commented on #7
@Trinkle23897 Indeed, my output has always been a pink picture

[2018-05-03 08:38] jiangbaige commented on #7
@Trinkle23897 the height of my input image is less than the width, however, my output has always been a pink picture.

[2018-05-03 08:46] shockjiang commented on #7
@Trinkle23897 I'm trying to build the code on current Halide, do you have any suggestion? I looked through your discussion, and two methods are proposed:
1/ use an old halide version, 2016/10/22
2/ change Image to Buffer and others.
Which one do you think is better?

[2018-05-03 09:35] lisongnan1982 commented on #7
Changing Image to Buffer works well. Should be a better solution. I deleted my replies about using 2016/10/22 version of Halide.

[2018-05-03 12:51] Trinkle23897 commented on #7
@shockjiang change image to buffer is better

[2018-05-03 12:55] Trinkle23897 commented on #7
@jiangbaige 可以加我微信，微信号就是我的github昵称

[2018-05-03 13:16] zhLawliet opened #10 "Input image must have width of 5796"
Input image must have width of 5796 ?
Input image must have height of 3870 ?

my image is 6024* 4024
i change the code
static const int width = 6024;
static const int height = 4024;
the result is bad? can you give me some suggests, thanks

[2018-05-04 01:35] shockjiang commented on #7
@Trinkle23897 let me make it clear on fixing the issue:
settings: code here + latest halide + LLVM4.0(suggested by halide)
step to fix:
1/ change all the Image in this hdr+ code to Buffer
2/ "eplace rggb patterns to bggr patterns in demosaic part, and need to fix a bug when g1==0, also try to change white level and black level in the code to fit with google's dng arguments, and finally you'll find

[2018-05-04 02:31] shockjiang commented on #7
@jiangbaige I'm also working on this project, shall I wechat you? my id is: swordguy

[2018-05-04 07:50] Trinkle23897 commented on #10
@zhLawliet of course you can do this in the code, it runs well.
The author wrote with "static const" because this course assignment only provide with the same size of cr2 files

[2018-05-04 13:19] zhLawliet commented on #10
thanks，Hello, can you provide cr2 files with multiple exposures? 5796 × 3870, I want to test the result of running cr2 normally. In addition, if I want to run Camera: google sailfish, I find that srgb_matrix needs to be changed, and dcraw doesn't see conversion parameters for google sailfish? Don't know if you understand? my e-mail is zhlawliet@qq.com thanks

[2018-05-04 15:35] Trinkle23897 commented on #10
@zhLawliet 你随便叫同学帮你用canon相机拍几张照片，然后直接把那个const height和width改成这些照片的长宽就完了呀……
dcraw对于google的照片显示是正常的，跑出来效果有问题是代码的锅

[2018-05-04 19:45] timothybrooks commented on #10
You can change the width and height to whatever is appropriate for your images. The ideal thing to do would be to read the dimensions from the raw file's metadata--I only hard-coded these numbers out of convenience.

Feel free to email or message me privately if you would like for me to provide example raw images to process.

[2018-05-04 19:45] #10 closed

[2018-05-04 19:47] timothybrooks commented on #6
Thanks for letting us know!

[2018-05-04 19:47] #6 closed

[2018-05-04 20:06] timothybrooks commented on #7
To use the latest version of Halide, switch Halide::Image to Halide::Buffer (as @Trinkle23897 notes). This is due to a change in Halide after the project was initially made. It would be great to update this in the master branch, so please feel free to create a pull request.

Pink results are due to incorrect while level and black level for your camera. The white level and black level I use are spe

[2018-05-05 01:27] zhLawliet commented on #10
@Trinkle23897 @timothybrooks 嗯，我找到了canon的照片，修改长宽后，程序运行结果没问题，主要是这个代码对标Google’s HDR+，我想用它运行google的照片，结果发现里面的转srgb空间的参数固定了，这个参数 在dcraw 的adobe_coeff 函数里面没有找到，不知道你们是怎么解决的？谢谢了。

[2018-05-05 04:18] diwersan7 opened #11 "Pink image"
Hi! The only result I can get is completely pink image, could you point out what I did wrong?

[2018-05-05 13:55] timothybrooks commented on #11
This is likely do to incorrect black and white levels, which I have hard-coded for my Canon 5D III. To correct this, you can find the black and white levels for your images inside their raw metadata.

[2018-05-05 13:55] #11 closed

[2018-05-05 14:02] Trinkle23897 commented on #11
@timothybrooks the pink result not only caused by bp and wp, but due to the dng format, the second green param in white balance param is set to 0. Should add "if (g1 == 0) g1 = g0;" into function "read_white_balance"

[2018-05-05 14:11] timothybrooks commented on #10
The sRGB color conversion matrix (CCM) I use is standard, and should work in the general case. For specific sensors, custom CCMs can be more accurate, however these are not always known or available.

What makes you believe the sRGB CCM is incorrect here? What do the images look like? If the colors are shifted, it may be an issue with the white balance gains or black and white levels.

[2018-05-05 14:16] timothybrooks commented on #11
Ah yes, thanks for pointing this out! I was unfamiliar with the g1=0 usage. Feel free to submit a pull request for this fix, if you would like :)

[2018-05-05 15:46] Trinkle23897 commented on #11
dcraw -v -T

[2018-05-05 15:52] diwersan7 commented on #11
Thank you!

[2018-05-05 16:01] diwersan7 opened #12 "Corrupted Image"
I get corruption like this as a result:
![image](https://user-images.githubusercontent.com/13134670/39665070-4c15a942-5064-11e8-9e20-7e7676c49d11.png)
Any suggestions?

[2018-05-06 05:06] zhLawliet commented on #10
@timothybrooks thanks，i can get bp and wp values by dcraw -v -T, but can‘t get the CamRGB2XYZ,
such as
sRGB2XYZ = [0.4124564 0.3575761 0.1804375;0.2126729 0.7151522 0.0721750;0.0193339 0.1191920 0.9503041];
XYZ2Cam = [7171 -1986 -648;-8085 15555 2718;-2170 2512 7457]/10000;
the sRGB2XYZ is standard,but the XYZ2Cam is not, and there is no parameter in dcraw about Camera: google sailfish , so i  ask

[2018-05-09 01:28] whqwill opened #13 "Why is the result picture more blurred than the original picture?"
Why is the result picture more blurred than the original picture?

[2018-05-09 03:30] timothybrooks commented on #13
The algorithm averages patches from different frames in order to decrease noise, however, in addition to decreasing noise, this can soften details (and cause artifacts) in some cases. If you provide the input images and result you are seeing, I could provide further insight.

[2018-05-09 03:31] timothybrooks commented on #12
Could you please provide the input images as well?

[2018-05-09 03:40] whqwill commented on #13
The following are original image and result @timothybrooks

![0005_20170412_223424_01](https://user-images.githubusercontent.com/7381876/39794533-61d6f0da-537d-11e8-9e9e-86e95f9de225.JPG)

![result](https://user-images.githubusercontent.com/7381876/39794595-ae4c52d4-537d-11e8-8ea3-e5c9fe0827f4.jpg)

[2018-05-09 22:11] timothybrooks commented on #12
The strange results are because this pipeline is designed to work on a burst of photographs that are all taken at the _same_ (under)exposure. For more details on why this is the case, please refer to the [original paper](http://www.hdrplusdata.org/hdrplus.pdf) or [my writeup](http://timothybrooks.com/tech/hdr-plus/).

[2018-05-09 22:11] #12 closed

[2018-05-09 22:14] timothybrooks commented on #13
The pipeline takes a burst of underexposed raw frames, whereas the original image you provided is a processed jpeg. Please provide the raw frames if you have them, otherwise, the pipeline is not expected to work for your application.

[2018-05-10 08:45] shockjiang opened #14 "using GPU"
the current code is quite slow, which takes about 20 seconds to generate a picture. So I speed it up by using GPU.  I set the HL_TARGET and other environment parameters like the following:

[code]

And run the hdrplus. However, this does not work at all. Any hint to fix it?

[2018-05-10 15:10] timothybrooks commented on #13
There are a few things at play. First, this pipeline is for bursts of underexposed raw images. For it to provide benefit, you will need to use a sequence of raw images as input, not a single image.

Second, there are some weak points in my implementation, notably the demosaic algorithm that I use is not state-of-the-art, and I do not have any chromatic aberration suppression. These two factors, es

[2018-05-10 15:10] #13 closed

[2018-05-11 02:16] shockjiang commented on #4
do you find a way to speed up the code? @ghost

[2018-05-24 08:43] whqwill opened #15 "the code does not implement the robust merge?"
I stored the dng file after the "merge" step and found that shaking hands and shaking leaves were always ghosting, although every picture in my original dng file has no motion blur. This phenomenon is not as described by the author in his blog.  I suspect that the robust merge part of the code is not implemented well. Isn't it ? @timothybrooks

[2018-05-24 15:39] #15 closed

[2018-05-30 16:43] gooooloo opened #17 "gamma_frac ?"
https://github.com/timothybrooks/hdr-plus/blob/d2b56c2dcc859921252d63aea39876c9d1d73f38/src/util.cpp#L196

According to comment of this method, the [formula 1.2b](http://www.color.org/graphics/srgb13.gif) in this [link](http://www.color.org/sRGB.xalter), shouldn't it be
`gamma_fac = 69139; // 1.055 * UINT16_MAX` ?

[2018-05-31 13:42] gooooloo commented on #17
Oh you are right.

[2018-05-31 13:42] #17 closed

[2018-06-05 08:26] porpalone opened #18 "how to determin wp & bp"
since tone-mapping based on merged high dynamic results, a range of [bp, wp=1023] causes over-expo. According merged result in google hdr+ gallary , I get a large wp=16368 and it is not proper here, seems comes from algorithm difference.

I tried set different wp manually, for some cases, a wp value about 2500 seems better, far smaller than google merged results.

[2018-06-05 13:33] Trinkle23897 commented on #18
dcraw -i -v xxx.dng

[2018-06-06 02:55] porpalone commented on #18
@Trinkle23897 it does not work properly, for input dng files got a wp = 1023, however it seem small that often leave over-expo areas.

[2018-06-06 10:53] Trinkle23897 commented on #18
google’s origin dng wp=1023, and after merging process, the algorithm outputs more percisely, so the wp in merge.dng is 16368, which is equal to 1023*16

[2018-06-18 06:21] eliver8801 commented on #7
In file included from /home/eliver/Halide/hdr-plus/src/HDRPlus.cpp:2:0:
/home/eliver/Halide/hdr-plus/src/halide_load_raw.h: In function ‘bool Halide::Tools::load_raw(const string&, uint16_t*, int, int)’:
/home/eliver/Halide/hdr-plus/src/halide_load_raw.h:50:93: error: too many arguments to function
     if (!check(f.f != nullptr, "File %s could not be opened for reading\n", filename.c_str())) retu

[2018-06-23 11:37] www571859177 commented on #7
@Trinkle23897  “need to fix a bug when g1==0”,can you explain it in details? I don't know how to fix it ,thanks very much!

[2018-06-29 09:34] JanzenLiu opened #19 "make error"
I tried building the project with the instructions in README but failed. The message is as below. Do you have any idea how to solve it?

[code]

[2018-06-29 10:43] JanzenLiu commented on #19
I just fix this, it's due to the formatted string. Maybe it's because my compiler is too old lol (if it doesn't cause error in other machine). Thank you!

[2018-07-04 09:45] zhurong90s commented on #19
i fix it  with replacing  halide with 6-22-2016 release version（halide-linux-64-gcc53-trunk-aa5d5514f179bf0ffe1a2dead0c0eb7300b4069a.tgz）.

[2018-07-04 09:51] JanzenLiu commented on #19
okay I will also try this. Thanks

[2018-07-20 15:58] ANSHUMAN87 commented on #19
Halide 2016/10/22 release version works fine for compilation

[2018-07-23 12:23] KillerInk commented on #4
the problem is that each time halide compile the hdrpipe.
once compiled as lib it can get reused and is fast.
here is  [sample](https://github.com/KillerInk/hdr-plus/blob/dng-stack/src/Main.cpp) how to compile it. you have to change some funcs to accept imageparam.

Big thanks @timothybrooks, FreeDcam love it ;D

[2018-07-26 04:09] KillerInk commented on #18
its up to the bit depth of the input data.
for 10bit 1023 work.
for 12bit you have to shift it by <<2 (if upcasted from 10bit)
for 14bit <<4 (if upcasted from 10bit)

same approach can get used for the blacklevel when its > 0

16bit breaks the algo and will cause clipping in high/lights due the merge buffer with 16bit.

[2018-08-18 13:40] TomHeaven opened #20 "Can you provide a simple example including commands and data to run the program?"
I've compiled the program and copy some raw images in the build folder.

I first tried with CR2 images captured with my Cannon camera.
[code]
Error message is
[code]

Then I tried using dng files from android phones:
[code]
An error goes like
[code]

I think there is something wrong with my data. So can you provide a simple example including commands and data to demonstrate usage of the program?

[2018-08-21 06:17] KillerInk commented on #20
your inputdata is ok.
your first problem is caused by the powershell and dcraw.
using the powershell(wich happen when the dcraw command get executed) creates a PGM file with wrong encoding(powershell use unicode, but pgm should be in ascii).
my workaround on windows is to use libraw for reading. its a bit overdone but it handels all different input formats equal if the file is 10,12,or 14bit.

you

[2018-08-25 04:49] TomHeaven commented on #20
Thank you for the suggestions. I'll try using libraw. B.T.W, I'm running on Mac OS :)

[2018-08-26 07:06] KillerInk commented on #20
you can simple check it, set a break point where the pgm header gets loaded.
https://github.com/timothybrooks/hdr-plus/blob/master/src/halide_load_raw.h#L59
if it cointains `P5` everything is ok. if you get `þÿPþÿ5` or simliar its in unicode.

You can also try to dump the file from the PipeOpener and diff it with a direct dcraw output.
direct dcraw output is in ascii. with the pipeOpener the syste

[2018-09-14 09:47] KillerInk opened #21 "fix for darkareas missalignment"
its simple but effective.
you have to add +64 to each input pixel and increase the blacklvl +64.
due that its easier for the algo to algin correct in dark areas, no more ghosting and visible tiles.

greets

[2018-09-25 01:03] Fenglele opened #22 "Guass Kernel normalization"
The sum of Gaussian kernel is 159, so it should divide 159 instead of 256 in line 57, right?

https://github.com/timothybrooks/hdr-plus/blob/d2b56c2dcc859921252d63aea39876c9d1d73f38/src/util.cpp#L49

[2018-09-26 13:03] KillerInk commented on #21
Hi Timothy

i try to add it to your code, but its untested.

i only use the align and merge part and do it aot compile.
im including that complied lib in another project wich get the data direct from the camera and save it back as stacked dng.

also i think there is something wrong.

https://github.com/timothybrooks/hdr-plus/blob/bbcae37ffcc5cec4d3e7069bcab65b699659e57f/src/align.h#L7-L8

[2018-10-01 09:32] KillerInk commented on #21
i wonder where that factor and the diff through 256 come from
https://github.com/timothybrooks/hdr-plus/blob/bbcae37ffcc5cec4d3e7069bcab65b699659e57f/src/merge.cpp#L52

https://github.com/timothybrooks/hdr-plus/blob/bbcae37ffcc5cec4d3e7069bcab65b699659e57f/src/merge.cpp#L58

orginal frame

![orginalframe](https://user-images.githubusercontent.com/30864229/46280873-5ac88d00-c56d-11e8-936b-defe7d8d9

[2018-10-01 16:15] Fenglele commented on #22
Sure. Already done!

[2018-10-09 15:34] #21 closed

[2018-10-16 12:24] zhouxingguang opened #25 "pink image result of .DNG image format?"
I use the ".DNG" format to test the code, and the result is a pink image(the width is bigger than height). Is anyone knows why?
By the way, the result of image format ".CR" is okay.

[2018-10-18 18:07] timothybrooks commented on #25
The issue is due to incorrect black and/or white levels. I used constants for the black and white levels (as well as other parameters, such as image size) of my Canon 5D III. For use with other raw images, make sure you change these values accordingly.

You can use dcraw to find the black and white levels of your camera if you do not already know them. If your camera has insufficient metadata, and

[2018-10-18 18:07] #25 closed

[2018-10-30 02:00] Entropy512 commented on #7
@eliver8801 It was broken by https://github.com/halide/Halide/commit/dbccf16b3b8b682a9cb597042ee8f61d588bff22#diff-3560d2b032ba793419a4d74598540171 - but I haven't had time to figure out a good way to solve it.

[2018-10-30 16:35] Entropy512 commented on #4
@KillerInk It looks like you took over maintenance of FreeDcam from the original author?

I'm definitely going to take a look at your HDR+ enhancement work in further detail when I get back from vacation.  Using libraw appeared to be necessary for you to handle DNGs, but it's really beneficial for Sony E-mount users too because dcraw truncates ARW2s from 14 bits down to 12 on load.  :(

I'd love t

[2018-11-01 14:13] Entropy512 commented on #4
dcraw scaling down the bit depth is specific to Sony ARW2 loading - it doesn't affect other cameras.

And yeah - this HDR+ algorithm is severely limited by the lack of distortion and vignetting correction, that's pretty important if you have a Sony 24-105G.  I don't think there's a good way to fix this without reworking alignment and merging to occur after demosaicing.

Subpixel alignment or the a

[2018-11-05 01:54] zhangzhipengtingting commented on #7
@jiangbaige Have you fixed this issue(pink picture)?Could you share me the solution，thanks.

[2018-12-21 04:51] nafnis commented on #4
Hi @KillerInk, i have compiled static libs for Android app follow your [repo](https://github.com/KillerInk/hdr-plus/tree/dng-stack), but the state RawToRgb seems to be not work, the rgb output data is null.
Do you have any solutions?

[2018-12-21 06:37] KillerInk commented on #4
Hi. I made it only compile and did not spend more time into it. For me it outputs a black and white img. Thats caused by the black whitelvl substraction. Whitelvl is in my case to high and must get calculated depending on the bit depth. Im also not sure if the demosaic part works correct with the hardcoded matrix. Im currently fighting with gradle to get it building with the android plugin. Gradle

[2019-01-01 10:57] hiepgaf opened #26 "Process with GR/BG pattern."
Hi @timothybrooks,
I was compiled this project and run with raw images capture from my phone, but the result was bad.
and I realized my input is in GRBG pattern and this project was developed for RGGB pattern when run finish function it seem to be not correct, how to run with GRBG?

[2019-01-01 18:07] hiepgaf commented on #7
Hi @Trinkle23897,
how to replace rggb with bggr as you mentioned?
Can you shared your code?
Thanks.

[2019-01-23 07:59] #26 closed

[2019-01-23 08:04] hiepgaf commented on #4
Hi @KillerInk, i was make RawToRgb stage to work, but it have a problem.
Without tone_map apply in finish, result:
https://imgur.com/xvCx5x8

With tone_map was applied:
https://imgur.com/xvCx5x8

Do you have any solutions?

[2019-01-23 09:48] KillerInk commented on #4
@hiepgaf
Looks like links are the same.
but the image looks a bit purple. so its probably the whitebalance/tint.

what changes have you made?

[2019-01-23 09:58] hiepgaf commented on #4
@KillerInk
Please check this [https://imgur.com/a/Is4Y3x7](url)

I was use libraw to read whiteblance, white point and blackpoint instead of use custom matrix.

[2019-01-23 10:06] KillerInk commented on #4
@hiepgaf  would say that the compression is to high or the gain lvl to low.
that are the only two factors that affecting it.

[2019-01-23 10:59] hiepgaf commented on #4
@KillerInk I have tried some modify with gain and compression values but nothing change.
When i run on PC with same gain and compression value, the result seem OK.
https://imgur.com/a/LeCjmAH

Reference image: https://photos.google.com/share/AF1QipPhjjwGoqPszXw6YwZSgqSfyz23d0KT-KuQrKkivhvKIkGeAn6jb8OjSB_dnGQD8g/photo/AF1QipNTlrHapAZR5TLFY2YXrkKsWX9rw4CSd04qYTiy?key=MFZnZUF6NnhlSXotNkxmdzNuX2hoS25v

[2019-01-23 11:32] KillerInk commented on #4
@hiepgaf normaly they should produce a simliar output.
i dont know how your pipeline looks like.
i think on pc you have one pipeline rawstack + rawtorgb. and on android you have it splittet.
if thats the case try it on android as one pipe.

[2019-01-23 11:57] hiepgaf commented on #4
@KillerInk In PC my pipeline is only rawtorgb ;(

[2019-01-23 12:37] KillerInk commented on #4
@hiepgaf you are building libs from same source set?
feel free to hit [me ](https://t.me/killerInk)on telegram

[2019-02-06 01:28] Titaniumtown opened #27 "Updating for better compatibility"
Are you ever going to update this to work on newer halide versions? I never can get this to work even though I am following all the directions and I have spend hours trying to get it to compile. Please Help!!

[2019-02-12 03:31] Titaniumtown commented on #27
I have sent some pull requests regarding issues people have been having and those pull requests should fix those issues (it did so with me).

[2019-02-12 03:47] timothybrooks commented on #4
Closing the issue as discussion seems to have veered from algorithm speed. Feel free to reopen specifically for runtime improvements.

[2019-02-12 03:47] #4 closed

[2019-02-12 03:49] timothybrooks commented on #19
Closing now that pull request to fix halide compatibility has been merged. Feel free to reopen if these issues persist.

[2019-02-12 03:49] #19 closed

[2019-02-12 03:54] timothybrooks commented on #27
Thank you for the contributions! Sorry for the inconvenience--I no longer maintain this repository to avoid conflicts of interest as I now work on Google's HDR+. If you are interested in becoming a primary maintainer of this open source project, please let me know.

[2019-02-12 03:54] #27 closed

[2019-02-12 03:56] timothybrooks commented on #7
Closing as new pull requests to alleviate Halide compatibility issues have been merged. Please reopen if the problem persists.

[2019-02-12 03:56] #7 closed

[2019-02-12 17:21] Titaniumtown opened #30 "Picture width and height"
Does anyone know of a way to remove the height and width limitations? Any pointers? Is is possible to modify the code so you can merge multiple images that are different resolutions? I know that Timothy Brooks said it would be possible [https://github.com/timothybrooks/hdr-plus/issues/10#issuecomment-386712854](url) But how would one implement this?

[2019-02-12 17:24] Titaniumtown commented on #20
What about the "options" the compiled program mentions.
Output of program:
`
./hdrplus **[options]** dir_path out_img raw_img1 raw_img2 [...]
`

[2019-02-12 17:29] Titaniumtown opened #31 "Supported file types"
What file types can be the input? I know CR2 and dng. But what about tiff, jpg, png, etc? It seems the code might only support CR2 and dng but there are uncompressed tiffs as well.

[2019-02-13 05:33] KillerInk commented on #31
the merge part expect 16bit bayer pattern with 4 colorchannels.
dng itself is a container based on tiff and can store alot different binarys.
aslong the input data is uncompressed 16bit cfa it should work.
i switched to libraw because it can output 16bit cfa from alot "RAW" files and you dont have to fight with the encoding

[2019-02-13 13:20] antoleb opened #34 "Input example"
Hi!
Could you please share an example of input files?

[2019-02-13 17:48] Titaniumtown commented on #31
Where would one get this information on various uncompressed file formats with 16 bit cfa? Is there a singular site containing all of this information?

[2019-02-13 17:49] Titaniumtown commented on #34
.dng and .CR2 files work for sure, but I don't know any more. There could be, but I do not know.

[2019-02-13 17:52] Titaniumtown commented on #31
Would there be a way to use pngs, jpegs, etc as the input? Would that require heavy modification to the code?

[2019-02-14 20:39] Titaniumtown commented on #20
I am including some instructions on my pull request! [https://github.com/timothybrooks/hdr-plus/pull/33](url) But I don't know what "options" is, as mentioned above.

[2019-02-17 22:29] timothybrooks commented on #30
Could you clarify what the intended behavior you would like for the pipeline to have? It should be able to support inputs of any size by reading the width and height directly from the image. Since the pipeline is a burst processing pipeline, I would argue that it should be a requirement for all frames within a given burst to be the same size. There would ideally be explicit checks to ensure all fr

[2019-02-17 22:34] timothybrooks commented on #31
This pipeline is intended as a raw processing pipeline, meaning that it takes in raw images (those which have not yet been processed by any algorithms). A lot of the pipeline makes that assumption and is only useful in that case, and would therefore not work on jpgs, pngs, or other images which have already been processed.

Burst denoising of non-raw images is a fairly different problem, as it can

[2019-02-17 22:39] timothybrooks commented on #20
[options] is a placeholder for setting any optional flag. This may be more clear:
./hdrplus [-c comp -g gain] dir_path out_img raw_img1 raw_img2 [...]

Note that -c and -g flags allow you to change the amount of dynamic range compression and gain, respectively, and are optional since they both have default values. Other options could be added as flags here as well.

[2019-02-17 23:04] Titaniumtown commented on #31
Thanks! That makes sense!

[2019-02-17 23:10] Titaniumtown commented on #30
The intended behavior is that it would automatically find the resolution of the image without the need for the user having to edit the code and recompile just to import from a different camera.

Regarding the prospect of the code using different resolution images, I was thinking that cropped images could be used as input, without the need to crop it to a specific resolution. For example pictures o

[2019-02-17 23:15] Titaniumtown commented on #34
According to Timothy Brooks in the comment linked below, he says that only raw files would work (ex. dng, CR2, etc). If the raw image you input doesn't work you could convert it to a dng file.

Link to Timothy Brooks' Comment referenced above:
[https://github.com/timothybrooks/hdr-plus/issues/31#issuecomment-464519606](url)

[2019-02-17 23:16] #34 closed

[2019-02-17 23:16] Titaniumtown commented on #30
I will try to work on this with the pointers your provided above!

[2019-02-17 23:16] #30 closed

[2019-02-17 23:16] #31 closed

[2019-02-17 23:18] Titaniumtown commented on #20
I added usage information in the README; in turn this issue should be resolved!

[2019-02-17 23:18] #20 closed

[2019-02-17 23:53] Titaniumtown commented on #2
Seems there isn't any activity here.

[2019-02-17 23:53] #2 closed

[2019-02-18 04:18] Titaniumtown commented on #18
It is the "Saturation" and "Darkness" numbers in the dcraw command output. The "Saturation" number is the "Wp" value, and the "Darkness" number is the "Bp" value. I also added this to the README file.

Ex.
(The bold is where the important values are)

Loading Canon EOS DIGITAL REBEL XT image from 1.CR2 ...
**Scaling with darkness 255, saturation 4095**, and
multipliers 2.690726 1.000000 1.270038 1

[2019-02-18 04:18] #18 closed

[2019-02-20 17:09] Titaniumtown commented on #14
Any progress?

[2019-02-20 21:23] suhaasr commented on #14
Hi!

I'd love to help, but Tim and I are both in industry now, so we're unable to actively work on this to avoid conflicts of interest. We're currently working on handing the project over to someone who expressed interest in polishing the pipeline.

Best,
Suhaas

[2019-02-21 17:00] Titaniumtown commented on #14
It was handed off to me.

[2019-02-25 09:19] brotherofken opened #35 "Use RAW library to achieve automatic image property detection"
Hi!

Regarding the following question in readme.md

I found several alternatives, that may help:
1. Adobe DNG SDK, e.g.: https://github.com/aizvorski/dng_sdk
    1. `+` supports writing DNG
    2. `+` supports reading DNG OpCodes (e.g. GainMap for lens shading correction, WarpRectilinear for lens aberration correction, etc)
    3. `-` DNG only, but there are a lot of RAW2DNG converters
    4. `-`

[2019-02-28 03:44] Titaniumtown commented on #35
Thanks! I will look into this!

[2019-02-28 09:55] brotherofken commented on #35
Actually, if input file has DNG format, then the following is enough:
Somewhere in CMakeLists.txt add:
```find_package(Exiv2 REQUIRED)```

Then read image dimensions as follows:
[code]

[2019-03-01 02:46] Titaniumtown commented on #35
I am creating a prototype! Thanks for the info, very useful!

[2019-03-15 09:02] brotherofken commented on #35
Hi! Any progress on that? Can I help somehow?

[2019-03-15 09:04] brotherofken commented on #35
Also, if you are looking for more bursts, I would recommend to use HDR+ dataset: https://hdrplusdata.org/

Images there have different bayer patterns, so you have to support them. White balance differs too.

[2019-03-18 03:45] Titaniumtown commented on #35
Sorry I have been really busy lately; I am sorry I have not provided updates as I have not had time to work on it. I might possibly be able to work on it later this week!

[2019-03-27 02:53] Titaniumtown commented on #35
I have been trying to implement it; no success though. Sorry for the lack of response. Any help would be appreciated!

[2019-03-27 15:46] Titaniumtown commented on #35
It fails to build currently; but I will post it later today!

[2019-03-29 14:27] Titaniumtown commented on #35
Sorry for not posting the code I think I know what is wrong with it!!

[2019-03-30 23:52] Titaniumtown commented on #35
Ok I uploaded the code at: https://github.com/Titaniumtown/hdr-plus

[2019-03-31 18:52] brotherofken commented on #35
And here it is!
https://github.com/timothybrooks/hdr-plus/pull/36

[2019-04-01 06:42] brotherofken commented on #35
Thank you for fast merge, @Titaniumtown !

Also, there are imperfection in my implementation. I do not crop 'masked pixels' from RAW, so it now they appear in the output. :-(
Here I copy 'masked pixels' into output:
https://github.com/timothybrooks/hdr-plus/blob/master/src/InputSource.cpp#L34

I'll fix that and make another PR shortly.

[2019-04-05 15:34] Titaniumtown opened #37 "Static hdrplus binary by replace dcraw"
Any ideas on how to replace dcraw in order to create a static hdrplus binary?

The dcraw binary location is hard wired into the code, so in order to create a static binary the dependency on dcraw would have to be removed or fully incorporated into the final binary itself.

How would one go about this?
If this is achieved we could then have pre-compiled binaries on the release page!

[2019-04-05 15:37] brotherofken commented on #37
Actually it should be possible to remove dcraw. Isn't it?

[2019-04-05 16:52] Titaniumtown commented on #37
There is something in the HDRPlus.cpp file that referenced camera multipliers. And halide_load_raw.h also uses dcraw.

[2019-04-05 16:58] Titaniumtown commented on #37
I am working on a prototype using libraw's "cam_mul[]"

[2019-04-05 17:11] brotherofken commented on #37
Isn't it already done here?
https://github.com/timothybrooks/hdr-plus/blob/master/src/InputSource.cpp#L22

[2019-04-05 18:56] Titaniumtown commented on #37
Oh I am sorry I didn't see that part! Never mind then!

[2019-04-05 19:14] Titaniumtown commented on #37
Wait... I found it used in halide_load_raw.h checking if the image can be read.

https://github.com/timothybrooks/hdr-plus/blob/master/src/halide_load_raw.h#L49

[2019-04-07 19:58] Titaniumtown commented on #37
I have a prototype working; so stay tuned!

[2019-04-07 20:21] Titaniumtown commented on #37
Ok I got it to work; I will commit it now!

[2019-04-07 20:21] #37 closed

[2019-04-21 16:01] Titaniumtown commented on #35
Bump! Are you going to make a pull request?

[2019-04-22 15:16] brotherofken commented on #35
Oh, sorry for that. :-(
I'll try to look at this on a weekend.
The thing is to copy pixels according to `ActiveArea` Raw tag.

[2019-04-28 14:54] brotherofken commented on #14
That's not easy and requires refactoring. Here is the steps:
1. At first, we have to move to Halide's Generators as described here [in this tutorial](https://halide-lang.org/tutorials/tutorial_lesson_15_generators.html) in order to rid of JIT compilation which takes a lot of runtime.
2. Second we have to add special "gpu_tile" scheduling across the pipeline, like it was described [in this tutorial

[2019-04-29 08:32] brotherofken opened #39 "Take RGB to sRGB conversion matrix from RAW instead of hardcoded one."
Color convertion matrix hardcoded into [srgb function](https://github.com/timothybrooks/hdr-plus/blob/c5d87536b7f35086170413f0d114304717dd964e/src/finish.cpp#L543) will result in wrong white balance for almost all cameras other than Canon 5D III that Timothy was used in his work.

We should instead use camera's auto white balance that provided in `imgdata.color.rgb_cam` field.

For rare cases when

[2019-05-06 16:41] #35 closed

[2019-05-17 07:28] brotherofken opened #40 "Implement Handheld Multi-Frame Super-Resolution"
Google researches published paper with details of implementation of their superresolution: https://arxiv.org/abs/1905.03277

It seems not trivial but implementable. Algorithm introduces new approach to merge and produces demosaiced image, so requires large changes in pipeline.

Development might be split into stages:
1. Alignment refinement for sub-pixel accuracy using Lukas-Kanade optical flow it

[2019-06-08 03:03] Titaniumtown opened #41 "Convert Code to python?"
I was thinking about possibly converting the code to python. Does anyone have any idea of how one could do that?

[2019-06-09 07:08] timothybrooks commented on #41
Python is not well suited for this workload. I do not recommend doing this. Image processing pipelines are very computationally expensive, since images are large (~22 million pixels for a 5D III) and there are many stages of processing with many operations for each pixel. A naive implementation of this pipeline would take hours to run. To make the performance reasonable, I implemented the pipeline

[2019-06-09 07:09] timothybrooks commented on #41
Also, if you would simply like to call the full pipeline from within Python, you can run the binary using Python's subprocess module.

[2019-06-09 15:14] pedrodiamel commented on #41
I think that @Titaniumtown is referring to use of the wrapper of python for Halide provide for Halide project.

https://github.com/halide/Halide/tree/master/python_bindings

In my humble opinion, the use of python in this project does not represent an improvement to get an open source implementation of HDRp.

@timothybrooks thank for your code !!!

[2019-06-11 00:13] #41 closed

[2019-07-25 10:06] soham24 opened #42 "'halide_image_io.h' file not found"
'halide_image_io.h' file not found

[2019-07-29 06:13] brotherofken commented on #42
Hi!
Thank you for reporting. Could you provide more details, please, in order to help me to investigate:
0. Operation system
1. Halide and LLVM version
2. cmake command results and its logs.
3. make command results and its logs.
Please, use gist or other text storage to share long texts.

[2019-07-29 06:17] soham24 commented on #42
Sorry, it was my error.
the tools directory did not compile at first.
I did it in the second try.
I am compiling it on mac.

[2019-07-29 06:17] #42 closed

[2019-08-12 09:47] JVision commented on #40
Hi Brotherofken, I am working on an open source implementation https://github.com/JVision/Handheld-Multi-Frame-Super-Resolution of the paper.

would appreciate if anyone could join in with me.
At very early stage though, please check it out at. @brotherofken

[2019-09-13 04:31] D3MZ opened #43 "Are Sony ARWs supported? - Cannot open file ARW error: Input/output error"
Haven't tried other RAW files, but are Sony ARWs supported?
[code]

[2019-09-17 20:52] Entropy512 commented on #43
What camera?

A7III works fine for me.

I/O error is usually disk failure.........

[2019-09-19 23:04] Entropy512 opened #44 "Ability to save aligned/merged image before demosaic"
It would be beneficial to leverage the HDR+ align/merge algorithms but allow performing the remaining processing steps in the workflow using a tool such as RawTherapee.

An example proof-of-concept hack that saves to TIFF can be seen at https://github.com/Entropy512/hdr-plus/commit/135273bad4d75f9b0e9bd695f97c10120355bf13 - the resulting file can be renamed to .dng and then tagged with exiftool su

[2019-09-29 09:59] chencuber commented on #40
Hi Brotherofken, in Fig.8 of the paper, it seems lamda1/lamda2 is in range of 0~1, however, we know lamda1 is the dominant eigenvalue and should be greater than lamda2. I am confused, do you know why is that?

[2019-09-30 00:55] JVision commented on #40
The reason is simple. there are errors in the published work. The author means (lamda1-lamda2)/(lambda1+lambda2)

[2019-09-30 02:11] chencuber commented on #40
I think you are right, that form makes sense.

[2019-10-17 08:08] brotherofken commented on #40
@SuTanTank Thanks! That totally make sense. Look at the end of a section 2.2 in [Anisotropic Diffusionin Image Processing](https://www.mia.uni-saarland.de/weickert/Papers/book.pdfl).
Axis description of Figure 8 says "Presence of an edge" (not coherence) and the book says that "mu_1 >> mu_2" characterizes straight edges.

[2019-10-26 07:28] anushl9o5 opened #45 "Observation on the hdrplus dataset"
Hey !
Any idea why the photos taken by google cameras are much smaller in size compared to the others (LGE, motorola, huawei). All of them have the same resolution, dimensions and are 10bit right ?
Thanks

[2019-11-21 08:32] zhangyulb opened #46 "How to determine compression and gain of local tone mapping"
Hi,

I find that the parameters compression and gain of the modified exposure fusion algorithm quite sensitive to the input image's lighting condition. Is there any good idea to adaptively adjust them?

[2019-12-11 13:35] KillerInk commented on #44
i have made changes like this including a dng writer. you can split the pipeline easy into two parts.
the algin and merge, after that you have the merged "bayer data" and maybe want to save it.
the merged bayer data can then get feed into the demosaic/tonemap/etc part.
but i only needed the first part so the jpeg creation is not added

https://github.com/KillerInk/hdr-plus/tree/dng-stack/

the dng

[2020-01-02 10:26] peacherwu opened #47 "Is Android build supported?"
Or has anyone tried building this for mobile devices? How fast is it?

[2020-01-14 08:45] Haoban opened #48 "Color correction"
Does anyone meet the problem with color correction? The output I got as .png format is so weird. I think it happens during tone mapping process.

[2020-01-19 01:26] YiFabao commented on #48
I also meet the same problem

[2020-01-21 13:49] Haoban commented on #48
If anyone solves this problem, PLEASE LET ME KNOW! Thanks!

[2020-01-21 14:48] brotherofken commented on #48
There are many possible reasons for getting weird results. Most probably one of two things happened:
1. Wrong CFA pattern. AFAIK, current implementation supports RGGB layout. It's not hard to fix btw.
2. Wrong Color Correction Matrix, which is hardcoded here: https://github.com/timothybrooks/hdr-plus/blob/master/src/finish.cpp#L543

Could you upload your RAW and PNG files?

[2020-01-30 17:51] Entropy512 commented on #48
Yeah.  #39 will cause some really weird color issues for anything other than the Canon Tim developed with.

https://github.com/timothybrooks/hdr-plus/issues/44 is an alternative approach

[2020-02-01 07:10] brotherofken commented on #44
I'm going to take work on this issue.
I did some research and found at least three ways to write merged RAW files. Writing custom RAW formats seems infeasible, but DNG should do the job. The options are:
1. DNG SDK supports writing via [dng_image_writer](https://github.com/yanburman/dng_sdk/blob/master/source/dng_image_writer.h#L1048). It's not a standard package, so it would be hard to maintain s

[2020-02-02 10:28] KillerInk commented on #44
About opcode. Itself is stored as bytearray, so copy paste the the tag is not a problem.
The real problem are lenses with a heavy vignette. Due the merge it get burned to the final image and the provided gainmap is not strong enough to fix it.
Just as side note, there is a second opcode to fix vignette, radial distortion.
To workaround the burned in vignette, the best solution is to apply the lens

[2020-02-10 21:35] brotherofken commented on #44
Thanks for sharing your thoughts about vignetting @KillerInk !

I have some progress so far. I found one cool project which does raw2dng conversion: [Fimagena/raw2dng](https://github.com/Fimagena/raw2dng)

The bad thing is that it's not a library, but an application that does raw2dng conversion. So I forked this project and added library target in a branch [brotherofken/raw2dng](https://github.com

[2020-02-11 13:55] Entropy512 commented on #44
Hmm...  raw2dng itself may be kind of overkill for this and/or duplicating code that may already be in hdrplus.

For the most part, I believe libtiff allows you to set the relevant metadata tags AND I think libraw already allows you to retrieve relevant data (colormatrix, CFA pattern, etc).

I do plan on returning to this at some point, but I'm in the process of car shopping at the moment and that

[2020-02-11 14:39] brotherofken commented on #44
I agree with you and concerned that raw2dng is a bit overkill too. libtiff should be enough to write valid DNG, but it would require writing a bunch of boilerplate code that copies data from LibRaw into TIFF tags. And it would require more time to code and debug as well. So I intended to reuse some existing open-source that does the job (quiet boring TBH) and saves me time for algorithmic changes.

[2020-02-11 14:47] brotherofken commented on #44
Maybe it would be Okay to use raw2dng as a temporary (he-he) solution until the libtiff version of DngSaver is not available.

[2020-02-12 21:24] brotherofken commented on #44
Okay, raw2dng is not that cool to use as I thought before. :-)

So I prepared a prototype which writes DNGs using libtiff: https://github.com/brotherofken/hdr-plus/tree/44-save-merged-dng

It does not produce correct DNGs yet, but it's close. @Entropy512 I would appreciate it if you review the code.

[2020-02-13 05:19] KillerInk commented on #44
im not entropy but,
wondering whats wrong with the dng writer i wrote?^^ its fully working a produce working dngs.
also it takes black lvl etc from libraw
what i have yet seen:
1. you miss colormatrix2. its needed.
2.bevor writing the rawdata you should use  TIFFCheckpointDirectory(tif); it writes out the tags
a simple dng should contain these tags:
TIFFTAG_SUBFILETYPE
TIFFTAG_IMAGEWIDTH
TIFFTAG_I

[2020-02-13 07:19] brotherofken commented on #44
Hmmm, it seems that the wrong thing is that I didn't look through your code carefully. :-(
Would you mind against careful copypasting? :-)

[2020-02-13 11:58] Entropy512 commented on #44
I won't be able to look in much detail until Saturday or maybe tonight.

colormatrix2 is NOT needed, and in fact is rarely available.  libraw in, nearly all cases I'm aware of, will only have a D50 color matrix/profile.

[code]
is what I use to tag Sony A7M3 files after saving.  One thing that can be really confusing is if you accidentally tag a preview image instead of IFD0 if the file has a prev

[2020-02-13 12:05] Entropy512 commented on #44
@KillerInk my main issue last time I looked at your DNG writer is that the commits also included a rework to use libraw for input that is significantly different architecturally than what landed here on upstream.  https://github.com/KillerInk/hdr-plus/commit/c3e0c5134c287b453ca53202cd1a9cfd52d449d5 is a massive commit that, since it's achieving 4-5 goals in a single commit, is really hard to read

[2020-02-15 09:34] brotherofken commented on #44
Okay, guys, I think it's ready for review now. Please, test it on your RAW files or send me them for testing.
It produces seemingly correct DNGs for CR2 from Timothy and DNGs from [HDR+ dataset](https://hdrplusdata.org/).

I decided not to put all tags to DNG as @KillerInk did because it might be an overkill for the moment, but I can do it on request.

[2020-02-17 14:15] KillerInk commented on #44
libraw is a bit special in collecting the necessary informations.
loading arw files fills different locations with the infos, then loading a dng.
as sample using a dng you can get the black lvl from raw.imgdata.color.dng_levels.dng_cblack
for cr2/arw it use raw.imgdata.black.

dngs have the NewSubFileType Tag. 0 should get used for raw data. 1 for preview/thumb

its usefull for wb^^ adobes dng con

[2020-02-22 20:07] brotherofken commented on #44
Bump. Could you make a review and check it, please?

[2020-02-24 21:07] #44 closed

[2020-03-06 16:49] gcilli opened #53 "Wrong Halide Release"
In the README.md file, it is specified to download the "2017-06-03" release of Halide. However, according to the [historical release link](https://github.com/halide/Halide_old_history/releases), such release does not exists. The closest ones are:

 - 2017-10-30
 - 2017-05-03

Which release should be downloaded?

Thank you.

[2020-03-06 16:56] brotherofken commented on #53
I tried the [latest Halide release](https://github.com/halide/Halide/releases/tag/release_2019_08_27) and it worked fine. [Master branch](https://github.com/halide/Halide/tree/master/) should work too.

[2020-03-06 17:15] Titaniumtown commented on #53
Yea, the reason I put that was because it kept failing to compile. Then on the historical release link, they deleted the "2017-06-03" release, I have no idea why. I will update the read me if I can compile hdr-plus on the latest version of halide.

[2020-03-06 20:26] Titaniumtown commented on #53
I have changed the readme to reflect this, issue should be solved. Thanks for bringing this to my attention!

[2020-03-06 20:26] #53 closed

[2020-03-06 22:14] gcilli commented on #53
Thank you for the quick response.

The latest Halide's release requires llvm 7.0 or greater. Which version of llvm did you use?

[2020-03-07 16:19] gcilli commented on #53
I downloaded llvm 9.0 and everything compiled.

[2020-03-11 08:48] brotherofken commented on #48
@Haoban, could you check please if the aforementioned issues with color were resolved after merge of #54?

[2020-03-11 09:03] #39 closed

[2020-03-11 09:04] brotherofken commented on #39
Closed due to #54

[2020-03-12 20:55] Haoban commented on #48
Thanks, I will check it. By the way, which directory I need to point as -DHALIDE_DISTRIB_DIR? Is Subdirectory bin or CMakeList file? I met this problem today when I tried it.

[2020-03-12 21:05] brotherofken commented on #48
You have to point to the directory which contains `halide.cmake` file. It should be the directory where Halide was installed.
Just in case, here is the screenshot of directory contents:
![image](https://user-images.githubusercontent.com/9129106/76566556-152c2580-64be-11ea-9912-e6ea4e1b3360.png)

[2020-04-03 09:26] MingmChen opened #56 "when I build the project, where should I put the Halide directory path?"

[2020-04-07 05:53] MingmChen opened #57 "when I build the project use "cmake -DHALIDE_DISTRIB_DIR=$(Insert halide directory) ..", CMake Error at CMakeLists.txt:35 (halide_library): Unknown CMake command "halide_library" appears why?"

[2020-04-11 06:28] #57 closed

[2020-04-11 06:29] #56 closed

[2020-04-11 06:59] YiFabao commented on #48
I tried it on ubuntu 18.04 , it worked.Thanks!

[2020-04-11 07:06] YiFabao commented on #48
In January of this year, I spent a lot of time transforming the code to generate code executable on Android. Today I was surprised to find that the author did the same work and changed it to a generator.

[2020-04-13 16:16] olivertai opened #58 "DngConverter not writing black level correctly"
Hi, I'm running your latest version under ubuntu with google hdr+ official burst images, I tried to get raw align and merge result by running binary "stack_frames", the bursts of inputs have black level at 64 and white level at 1023, then I used an image previewing software to compare my output with the output of google group (offered together with the bursts), I found out that my output was visua

[2020-04-13 17:58] brotherofken commented on #58
Hi!
Thank you for the bug report. I can take a look and it would be really helpful if you share this burst somehow. I have HDR+ data, so could you write the name of a burst?

Black level equals to 1024 in the output of google's group since they increase the number of gray levels, which is not implemented here. But it's trivially to do and maybe I'll implement it shortly.

[2020-04-14 05:36] olivertai commented on #58
Hi, thank you for quick response!
I’m currently running tests on the whole subset(153 bursts) and it seems to me that the problem appears not only on a single or several bursts but on all of them.
What I do now is appending the `black_white_level` step in `stack_frames` then the bl stores in .dng file should be 0, so I get visually more similar output to google’s, which however I don’t consider is

[2020-04-14 21:17] brotherofken commented on #58
I've checked `stack_frames` on the following samples from the subset and cannot see purplish color in the result or wrong black level [in the results](https://yadi.sk/d/WTVcpeHJuqqulA). Look for `merged.dng` in subdirectories. However...

I found, that I don't save proper color matrices to merged DNG. :-( Seems, that it's broken now and requires fixing. There are lack of full set of tags now: `Col

[2020-04-14 21:23] brotherofken commented on #58
Right now I am very limited in time, but maybe you will be able to fix this issue by yourself?
I think that [here](https://github.com/timothybrooks/hdr-plus/blob/master/src/LibRaw2DngConverter.cpp#L41) we need to copy appropriate DNG tags from libraw.
Maybe I'll have a few hours to look at this on the weekend, but can't say for sure.

[2020-04-16 04:06] YiFabao opened #59 "Assertion failed: (size == (size_t)type().bytes() && "Error: Overflow computing total size of buffer."),"
I tried the newest code on my mac,
when run the produced hdrplus binary , it crashed because of the following error:

 ./hdrplus dng_images dst.png payload_N000.dng payload_N001.dng payload_N002.dng
Opening dng_images/payload_N000.dng
Opening dng_images/payload_N001.dng
Opening dng_images/payload_N002.dng
Opening dng_images/payload_N003.dng
Opening dng_images/payload_N004.dng
Assertion failed: (si

[2020-04-16 12:41] YiFabao commented on #59
I have soloved it!

[2020-04-16 12:41] #59 closed

[2020-04-16 13:13] YiFabao commented on #59
I have successfully executed on android !
![image](https://user-images.githubusercontent.com/8004601/79460187-07227500-8027-11ea-9e9d-8b556a582780.png)

[2020-04-16 15:59] olivertai commented on #58
Thank you for the response. I've downloaded the results and decoded with libraw, eventually I still found black level at 0, that's really weired. But it's not a big deal for now since I do black level substraction before saving.

I set CameraCalibration to identity matrix, Color Matrix to the matrix stored in the data folder(rgb2rgb.txt) and Calibration Illuminant was already set as far as I know

[2020-04-16 16:30] olivertai opened #60 "weight calculation of merge"
I was digging into the implementation of merge process and get confused with the following pieces.
[code]
Here, how the weights are calculated? If `norm_dist` has a maximal value of 1, then how could it be greater than `max_dist-min_dist`?
[code]
Secondly why are these `val`s calculated like this in spatial merging? I didn't find much information about spatial merging details in hdr+ paper, so I d

[2020-04-28 17:38] Titaniumtown commented on #47
It's the basis of what the pixel phones use, but the devs probably have optimized it a ton since then.

[2020-04-30 06:54] #60 closed

[2020-05-05 22:42] ronsoohyeong opened #61 "The link for the examples not found error"
The link that contains HDR+ algorithm examples results in 404 Not Found error.
https://drive.google.com/drive/folders/1XR61IhzuYQU5eLQfBJ0KEMK83Aocta6g?usp=sharing

Can you please check? Thanks in advance.

[2020-05-05 23:00] Titaniumtown commented on #61
Sorry, I had to take it down because I didn't have enough space on my google drive :(

[2020-05-05 23:21] Titaniumtown commented on #61
I can create a torrent if you want. I don't have any file sharing service. The files are pretty large.

[2020-05-07 06:55] ronsoohyeong commented on #61
I think torrent may not pass the corporate firewall.. Can you please consider another file sharing service such as dropbox? Other candidates are in : https://www.lifewire.com/free-cloud-storage-1356638

[2020-05-07 18:43] roshanaz opened #62 "make error"
I get the following error when trying to make hdr+. my cmake version is 3.17.2

[code]

[2020-05-07 18:51] Titaniumtown commented on #62
What OS? architecture? etc
It looks like you are on a mac

[2020-05-07 20:51] roshanaz commented on #62
Yes, it is mac.

[2020-05-07 20:57] Titaniumtown commented on #62
try clang 4.0, that's what worked for me.

[2020-05-07 21:59] roshanaz commented on #62
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/c++/4.2.1
Apple clang version 11.0.0 (clang-1100.0.33.17)
Target: x86_64-apple-darwin19.0.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bi

[2020-05-08 20:48] roshanaz commented on #62
@Titaniumtown I did try with clang 4.0 but I get the same error. any idea?

[2020-05-08 20:56] Titaniumtown commented on #62
huh, strange. I'll look into it.

[2020-05-08 21:05] roshanaz commented on #62
I added `#include <array>` to code and it passed that stage. now it is failing on Linking because of lpng

[code]

[2020-05-08 21:11] Titaniumtown commented on #62
install libpng

[2020-05-08 21:11] roshanaz commented on #62
I did already

[2020-05-08 21:11] Titaniumtown commented on #62
huh

[2020-05-08 21:11] Titaniumtown commented on #62
what version of macos are you on?

[2020-05-08 21:13] roshanaz commented on #62
10.15.1

[2020-05-08 21:17] roshanaz commented on #62
it is installed and linked

[code]

[2020-05-08 21:20] Titaniumtown commented on #62
weird

[2020-05-21 17:58] kgmossey opened #65 "Compilation issue: file not found: ./lib_halide_compiler_lib.a"
When running make I get the following error.

[ 20%] Linking CXX executable halide_library_runtime.generator_binary
ld: file not found: ./lib_halide_compiler_lib.a
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[2]: *** [halide_library_runtime.generator_binary] Error 1
make[1]: *** [CMakeFiles/halide_library_runtime.generator_binary.dir/all] Error 2

Searching

[2020-05-25 09:29] lyucc1219 opened #66 "How to process Bayer metadata?"
Hi, my data from cameras is just metadata, without any other informantion but RGGB array. So how can I get HDR image using such data?

[2020-07-10 06:22] dqhcjlu06 opened #67 "make err wit Could NOT find PNG (missing: PNG_PNG_INCLUDE_DIR)"
I get the following error when trying to cmake. my cmake version is 3.17.0 with MacOS 10.15.5
-- Using /Users/xxx/Documents/build/halide/bin/libHalide.dylib
-- PNG not found for _halide_library_from_generator_rungen; compiling with -DHALIDE_NO_PNG
-- Found tiffxx: /usr/local/lib/libtiffxx.dylib
CMake Error at /usr/local/Cellar/cmake/3.17.0/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:16

[2020-07-10 07:42] #67 closed

[2020-08-11 14:14] #48 closed

[2020-08-27 07:33] dongik86 opened #68 "make error"
I get the following error when trying to make hdr+.

(base) yoongyoo@PC1907057:~/test/hdrplus_c/build$ cmake -DHALIDE_DISTRIB_DIR="/home/yoongyoo/test/hdrplus_c/halide" ..
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7.5.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
--

[2020-09-22 07:42] TalKlinger opened #69 "Incompatible with Halide 10.0.0"
Halide 10.0.0 deprecated halide.cmake, so the installation doesn't work out of the box for Halide 10.0.0 when running the cmake command

[2020-09-25 19:14] Izaic commented on #69
This is a big issue for the Pinephone which if working could utilize this software for improving the camera quality.

https://blog.brixit.nl/pinephone-camera-adventures-part-3/

[2020-10-29 19:12] #61 closed

[2020-11-04 09:41] hbhbts opened #71 "link error for make hdr-plus project"
Hi, can anyone help me to figure out what's wrong with it
the compile log as below:
It seems that the zlib lib cannot be found.

[code]

[2020-11-04 09:42] hbhbts commented on #71
Add cmake logs as below:
It seems that the zlib path is ok, is right?
[code]

[2021-02-03 21:08] Entropy512 commented on #66
Just metadata?  Do you mean just data without metadata?

[2021-02-21 17:58] FillanGrady opened #72 "Poor registration of images"
I successfully downloaded and used make to install this code. However, the image registration is unusable. I am running the code on Windows Subsystem for Linux, running Ubuntu 20.04. I'm running OPNA2608's fork of the code, to get it to work with Halide 10.0. These photos were taken on an Olympus OM-D EM10 Mark II, with the Olympus 45mm f1.8 lens, at ISO 1000, f/1.8, and at 1/400th of a second. I

[2021-02-23 09:18] chenmeiya commented on #57
hello, I also meet this problem. Could you help me to solve it? thanks.

[2021-03-22 13:50] martin-marek commented on #41
If anyone is still interested, I implemented the alignment part in PyTorch. It runs at ~100 ms / image on a GPU.

https://github.com/martin-marek/hdr-plus-pytorch

[2021-04-02 03:57] zhangpengk opened #73 "build error!!!! anyone can help me?"
(base) zhangp@zhangp:~/Desktop/image-fusion/hdr/hdr-plus/hdr-plus-master/build$ cmake ..
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7.5.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- Detecting CXX c

[2021-04-21 10:37] f0enix commented on #59
@YiFabao how did you solve it?

[2021-04-30 08:41] ersanliqiao commented on #73
same error

[2021-05-17 04:14] #69 closed

[2021-05-26 03:58] DanielMao2015 commented on #21
@KillerInk hi, I am still confused about the effect of fact and the normailziation process. Can you help me?

[2021-06-04 09:27] tgsqq opened #74 "build error!!!! On macOS Big Sur Intel"
zsh: command not found: Insert
-- The C compiler identification is AppleClang 12.0.5.12050022
-- The CXX compiler identification is AppleClang 12.0.5.12050022
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc - skipped
-- Detecting C compile features
--

[2021-06-04 10:09] tgsqq commented on #74
-- The C compiler identification is AppleClang 12.0.5.12050022
-- The CXX compiler identification is AppleClang 12.0.5.12050022
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features -

[2021-06-04 10:10] tgsqq commented on #74
Unhandled exception: Error: All Params and embedded Buffers must have unique names, but the name 'gauss_down4_kernel' was seen multiple times.

[2021-06-07 08:59] yunychen commented on #47
hi peacherwu,
do you used it in android finally

[2021-06-15 08:23] lulala1126 commented on #74
I have same error... are you finish it?

[2021-07-22 07:20] OPNA2608 commented on #74
Try building with Halide 10.

[2021-09-15 00:14] YelovSK opened #75 "Could not find HalideConfig.cmake"
When running the cmake command I get a following error:
[code]
HalideConfig.cmake is in (HalideDir)\lib\cmake\Halide. I'm using 10.0.0 binary of Halide.

[2021-09-15 00:20] #75 closed

[2021-11-15 15:55] KirChi123 opened #76 "Request"
Hello! Could you please make an ios camera app that takes a burst of dng raw images and then appies HDR+ processing and saves the resulted output in the gallery? Thank you for your hard work!

[2021-11-18 03:04] xuelimin commented on #75
I have solved this problem, when you compiled the halied, the directory can make those folders: bin  distrib  include  lib，make sure your halide make success. And then you should set Halide_DIR to the HDR CMakeLists.txt, just like `set(Halide_DIR "/home/xx/Halide)` .

[2021-11-18 03:08] xuelimin commented on #57
when I meet this problem, I set some directories in the halide CMakeLists.txt, including two parts:`set(HALIDE_DISTRIB_DIR "/home/xlm/halide_build/distrib")`;`set(Halide_DIR "/home/xlm/Halide_old_history-release_2017_10_30")`,Halide_old_history-release_2017_10_30 just the source code, and halide_build is my make directory,hope you slove this pro.

[2021-12-07 21:39] Abdob opened #78 "Cmake: Could not find a package configuration file provided by "Halide""
I am using Ubuntu 20.04 and have tried different versions of llvm and halide. I haven't been able to compile this program.

I am building llvm like this:
git clone https://github.com/llvm/llvm-project.git
git checkout release/9.x  # to build LLVM 9.x
cd llvm-project
mkdir build
cd build
cmake -DLLVM_ENABLE_PROJECTS="clang;lld" -DLLVM_ENABLE_RTTI=ON -DLLVM_ENABLE_TERMINFO=OFF -DLLVM_TARGETS_TO_BUIL

[2021-12-17 16:57] OPyshkin commented on #78
Did you manage to solve it? I currently have the same issue

[2021-12-17 18:07] OPyshkin commented on #57
@xuelimin  this didn't help

[2021-12-17 18:08] xuelimin commented on #57
邮件已查收，我会尽快回复您！

[2021-12-17 18:09] OPyshkin commented on #78
I've tried setting path to /distrib/ directory in CMakeLists.txt, but it didn't help

[2021-12-17 18:17] OPyshkin commented on #57
@xuelimin thank you very much, i'll be waiting!

[2021-12-17 18:30] Abdob commented on #78
No I have not solved it. I tried many combinations of llvm/halide/hdr-plus versions. I might try using a different Ubuntu distro.

[2021-12-18 12:32] xzg-wang-er opened #79 "[make] no match function,template argument deduction/substitution failed"
![image](https://user-images.githubusercontent.com/16589506/146641177-83302da1-a4aa-40da-ba60-f9f47e6c66fc.png)

[2022-04-15 10:17] JinliEmma opened #80 "How can I get the data?"

[2022-04-15 10:18] JinliEmma commented on #80
http://www.gardling.com/hdr_plus ，this utl can't visit. Can you share the dataset by other ways?

[2022-04-16 13:57] jhfmat opened #81 "效果不是很好比这个差https://github.com/jhfmat/ISP-pipeline-hdrplus"
https://github.com/jhfmat/ISP-pipeline-hdrplus 建议用纯c

[2022-04-17 00:31] Titaniumtown commented on #81
What?

[2022-04-17 04:24] Titaniumtown commented on #80
fixed

[2022-04-17 04:24] #80 closed

[2022-04-20 03:32] #81 closed

[2022-05-20 13:41] Zhang-Setsail opened #82 "Build Error"
**Thank you for your help!!!
It's said that some function's argument number is not correct. How to fix the error? Or some error in my build?**

Command:
make -j$(expr $(nproc) \+ 1)

Output:
zsh: command not found: nproc
expr: syntax error
Consolidate compiler generated dependencies of target align_and_merge_generator
Consolidate compiler generated dependencies of target hdrplus_pipeline_generator

[2022-05-22 13:14] Zhang-Setsail commented on #74
Still have this problem with halide 10 :(

[2022-05-22 13:20] Zhang-Setsail commented on #82
Because Halide 12.0.0 delete the code:
`template<typename T, typename... Bounds,
         typename std::enable_if<Halide::Internal::all_are_convertible<Expr, Bounds...>::value>::type * = nullptr>
HALIDE_ATTRIBUTE_DEPRECATED("Add braces around the bounds like so: {{a, b}, {c, d}}")
HALIDE_NO_USER_CODE_INLINE Func mirror_image(const T &func_like, Bounds &&... bounds) {
    Region collected_bounds;

[2022-10-18 10:32] AmberCheng commented on #79
hi, I have met the same problem. I wonder how you fix it?

[2022-11-14 09:04] teboli commented on #79
Hi,

I ran into the same problem. It is because in the meantime Halide itself changed the signature of its boundary functions. Now you should be using the Range object defined in Halide.h, that defines a slice between min and max (like [min:max] in Python) as:

 Func imgs_mirror = BoundaryConditions::mirror_interior(imgs, {Range(0, width), Range(0, height)});
 instead of the former
 Func imgs_mirr